<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/postlist" class="backToPostlist"><i class="ri-arrow-left-line"></i></a>
        </nav>

        <table>
            <tr>
                <td class="imageBox" rowspan="5">
                    <div class="image">
                        <div class="imageInput">
                            <img id="previewImage" src="/images/uploads/<%= post.image %>" alt="Preview Image">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><%= post.title %></td>
            </tr>
            <tr>
                <td><%= post.user.username %></td>

            </tr>
            <tr>
                <td><%= post.description %></td>
            </tr>
            <tr>
                <td><%= new Intl.DateTimeFormat('en-US', { year: 'numeric' , month: 'short' , day: 'numeric' ,
                    hour: '2-digit' , minute: '2-digit' }).format(new Date(post.createdAt)) %></td>
            </tr>

        </table>
    </div>
</body>

</html>