<%- include("nav") %>

  <div class="containerPancode">
    <div class="cardPancode">
      <form id="uploadForm" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
      </form>
      <div class="profileEdit">
        <div class="profile-picture">
          <img id="profile-image"
            src="/images/profilePics/<%= user.dp %>"
            alt="Profile Picture"
            >
            <script>
              document.getElementById("profile-image").addEventListener("error", function(){
                this.src = "/images/profilePics/alterImage.jpg";
              });
            </script>
        </div>
        <span id="uploadIcon" class="profileEditSpan">
          <i class="ri-pencil-fill"></i>
        </span>
      </div>
      <h2 class="name">
        <%= user.fullname %>
      </h2>
      <h3 class="username">@<%= user.username %>
      </h3>
      <p class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni?</p>
      <div class="postDiv">
        <form action="/upload" method="post" enctype="multipart/form-data" class="postDiv">
          <div class="uploadDP">
            <input type="text" name="filecaption" placeholder="Some Caption" class="caption" />
            <i class="ri-folder-upload-line ProfileIcon"><input type="file" name="file" hidden /></i>
          </div>
          <input type="submit" class="submit-btn" />
        </form>
      </div>
    </div>
  </div>

  <div class="cardContainer">
    <div class="cards flex ">
      <% user.posts.forEach(function(post){ %>
        <div class="card" style="width: 18rem;">
          <!-- // Images from unsplash  -->
          <img src="/images/uploads/<%= post.image %>" class="card-img-top" alt="...">
          <!-- need path ahead of post.image -->
          <div class="card-body">
            <h5 class="card-title">
              <%= post.imageText %> <!-- post.imageText use -->
            </h5>
            <h6>
              <%= new Intl.DateTimeFormat('en-US', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
              hour: '2-digit',
              minute: '2-digit'
              }).format(new Date(post.createdAt)) %>
            </h6>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

  <script>
    document.querySelector("#uploadIcon").addEventListener("click", function () {
      document.querySelector("#uploadForm input").click()
    })

    document.querySelector("#uploadForm input").addEventListener("change", function () {
      document.querySelector("#uploadForm").submit()
    })

    document.querySelector(".uploadDP i").addEventListener("click", function () {
      document.querySelector(".uploadDP i input").click();
    })
  </script>
</body>

</html>